body{
  background-color:#f3f1e4;
  color:#222222;
  font-family: sans-serif;
  font-size:16px;
  margin:0px;
  padding:0px;
  max-width: 100%;
  overflow-x: hidden;
}

#right{
  background-color:white;
}

/*header*/

header{
  width:100%;
  height:15%;
  background-color:#4471ab;
  color:#ffffff;
}

.logout-style{
  background-color:inherit;
  color:inherit;
  border:none;
  position:relative;
  left:6.5%;
  top:-10;
}
.account_info{
  position:relative;
  left:85%;
  top:15px;
}
/*logo*/

.logo{
  height:10%;
  position:absolute;
  top:2%;
  left:2%
}

.user{
  color:white;
  text-decoration-line: none;
}

.user:visited{
  color:white;
  text-decoration-line: none;
}

/*login page*/
.cas{
  width:80%;
  margin:auto;
}

.cas form{
  text-align:center;
}

.center_text{
  width:80%;
  margin:auto;
}

#login_body{
  background-image: url("wecode.jpg");
  background-size:cover;
}

.login{
    margin: auto;
    width: 50%;
    position: absolute;
    top:25%;
    left:25%;
    background-color: #ffffff;
    padding: 10px;
}

.block {
    float: left;
    width: 40%;
    padding:20px;
}

/* Clear floats after the columns */
.login:after {
    content: "";
    display: table;
    clear: both;
}

.center{
    margin: auto;
    width: 70%;
    padding: 10px;
}

/*filter css*/

.bluebtn {
    background-color: #4471ab;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.whitebtn {
    background-color: #ffffff;
    border: 1px solid gray;
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropbtn{
  float:right;
}

.add_job{
  float:right;
}

.add_job_review{
  position:fixed;
  bottom:1%;
  right:2%;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top:60;
    background-color: #ffffff;
    min-width: 600px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown a:hover {
  background-color: #ddd;
  display:block;
}

.show {display:block;}

.middle{
    margin: auto;
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
}

.dropdown_menu{
  margin:5%;
}

/*home*/


#opportunities{
  width:80%;
  margin:auto;
}

#opportunities p {
  border-bottom:1px solid gray;
  padding:10px;
}



h1{
  font-size:20px;
  text-align:center;
}

.opp_listing{
  color: black;
  text-decoration-line:none;
}

.opp_listing:visited{
  color: black;
  text-decoration-line:none;
}

/*job form*/
.job_form, .rev_form{
  width:75%;
  margin:auto;
}

/*job*/
* {
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
}
