body{
  background-color:#f3f1e4;
  color:#222222;
  font-family: sans-serif;
  font-size:16px;
}

/*login page*/
.login{
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 10px;
}

.block {
    float: left;
    width: 40%;
    padding:10px
}

/* Clear floats after the columns */
.login:after {
    content: "";
    display: table;
    clear: both;
}

.center{
    margin: auto;
    width: 70%;
    padding: 10px;
}

/*filter css*/

.dropbtn {
    background-color: #4471ab;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.listings{
    margin: auto;
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
}

header{
  width:100%;
  background-color:#4471ab;
  color:#ffffff;
}

h1{
  font-size:20px;
  text-align:center;
}

/* //fix this
.account_info{
  margin-left:75%;
  margin-top:-5%;
}

.search{
  padding-left:1%;
  padding-bottom:1%;
}
*/
