body{
  background-color:#f3f1e4;
  color:#222222;
}

.filter{
  display:none;
}

.filter:active #myDropdown{
    display: block;
}

.login{
    margin: auto;
    width: 50%;
    background-color: #ffffff;
    padding: 10px;
}

.listings{
    margin: auto;
    width: 80%;
    background-color: #ffffff;
    padding: 10px;
}

header{
  width:100%;
  background-color:#4471ab;
  color:#ffffff;
}

h1{
  text-align:center;
}

/* //fix this
.account_info{
  margin-left:75%;
  margin-top:-5%;
}

.search{
  padding-left:1%;
  padding-bottom:1%;
}
*/
