<html>
  <head>
      <meta charset="utf-8">
      <meta name=author content="Fistbump">
      <meta name=description content="">
      <meta name=keywords content="">
      <title>Fist-bump</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
      <script type="text/javascript" src="{{ url_for('static',filename='functions.js')}}"></script>
  </head>

  <body>
    <header>

        <a href = "{{ url_for('home') }}">
        <img src = "{{url_for('static', filename='fistbump.png')}}" alt = 'iphone fistbump emoji' class = 'logo'>
        </a>

        {% for message in get_flashed_messages() %}
          {{message}}
        {% endfor %}


        <div class = 'account_info'>
          <div class = 'mini_column'>
        <p> Logged in as <a class = 'user' href = "{{ url_for('profile') }}">{{uName}}</a> </p>
        </div>

          {% if picture_exists %}
            <div class = 'mini_column'>
              <img class = "picture_small" src = "{{src}}">
            </div>
            {% else %}
            <div>
              <img class = "picture_small" src = "{{url_for('static', filename='default.jpg')}}"  alt = 'default photo'>
            </div>

            <form action="/logout/">
              <button class = 'logout-style'>logout</button>
            </form>
          {% endif %}



        </div>
    </header>

    {% block content %}
    {% endblock %}


  </body>

</html>
