<html>
  <head>
      <meta charset="utf-8">
      <meta name=author content="Fistbump">
      <meta name=description content="">
      <meta name=keywords content="">
      <title>Fist-bump</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
      <script type="text/javascript" src="{{ url_for('static',filename='functions.js')}}"></script>
  </head>

  <body>
    <header>
      <h1> Fistbump </h1>
      {% if loggedin %}
        <div class = 'account_info'> <p> Logged in as {{uName}}</p>
          <form method=POST action="">
            <input type="submit" name="submit" value="Log Out">
          </form>
      {% else %}
        <form method=POST action="">
          <input type="submit" name="submit" value="Register">
        </form>
      {% endif %}
        </div>

      <div class = 'search'>
        <form method=POST action="">
          <input name="search" value="">
          <input type="submit" name="search-btn" value="Search">
        </form>
      </div>
    </header>

    {% block content %}
    {% endblock %}


  </body>

</html>
