
<head>
    <meta charset="utf-8">
    <meta name=author content="Fistbump">
    <meta name=description content="">
    <meta name=keywords content="">
    <title>Fist-bump</title>
    <link rel="stylesheet" href="">
</head>
<body>

  <header> <h1> Fistbump </h1>

    {% for message in get_flashed_messages() %}
      {{message}}
    {% endfor %}

    <div class = 'account_info'> <p> Logged in as {{ uName }}</p>
      <form method="POST" action="">
        <input type="submit" name="submit" value="Log Out">
      </form>
    </div>
    <div class = 'search'>
      <form method="POST" action="">
	<input name="search" value="">
	<input type="submit" name="submit" value="Search">
      </form>
    </div>
    <div class = 'add_job'>
      <form method="POST" action="">
	<input type="submit" name="submit" value="Add New Job">
      </form>
    </div>
  </header>

<div class = 'filter'>
  <div id="myDropdown" class="dropdown-content">
    <form method="post" action="">
      <h3> Filter by: </h3>

      <p><label for="classPref">Class Preference</label></p>
      <input type="radio" name="classPref" value="freshman"> Freshman
      <input type="radio" name="classPref" value="sophomore"> Sophomore
      <input type="radio" name="classPref" value="junior"> Junior
      <input type="radio" name="classPref" value="senior"> Senior
      <input type="radio" name="classPref" value="underclassman"> Underclassman
      <input type="radio" name="classPref" value="upperclassman"> Upperclassman
      <input type="radio" name="classPref" value="all"> All

      <p> <label for="jobType">Job Type</label></p>
      <input type="radio" name="type" value="internship"> Internship
      <input type="radio" name="type" value="part-time"> Part-Time
      <input type="radio" name="type" value="full-time"> Full-Time

      <p> <label for="jobTitle">Job Title</label></p>
      <input type="radio" name="type" value="engineering"> Engineering
      <input type="radio" name="type" value="design"> Design
      <input type="radio" name="type" value="pm"> PM
      <input type="radio" name="type" value="other"> Other

      <p> <label for="season">Season</label></p>
      <input type="radio" name="season" value="summer"> Summer
      <input type="radio" name="season" value="winter"> Winter
      <input type="radio" name="season" value="fall"> Fall
      <input type="radio" name="season" value="spring"> Spring
      <input type="radio" name="season" value="year-round"> Year-Round

      <p> <label for="database">Kind</label></p>
      <input type="radio" name="database" value="reu_opp"> Research
      <input type="radio" name="database" value="job_opp"> Industry
    </form>
  </div>
  <button onclick="myFunction()" class="dropbtn">Done</button>
</div>

<div class = 'sort'></div>
<div class = 'listings'>
  <!-- flashes -->
  {% if opportunities %}
  <div id="opportunities">
    {% for opportunity in opportunities %}
      <p>ID:{{opportunity.jobID}}//{{opportunity.positionName}}//{{opportunity.companyName}}</p>
        {% for location in locations %}
          <p>{{location}}</p>
	{% endfor %}
    {% endfor %}
  </div>
  {% endif %}
</div>


<footer>
</footer>
</body>
</html>
