{% extends "base.html" %}

{% block content %}

<h3>Job Info</h3>
  
  {% if job %}
  <div id = "job_info">
    <p> Job Title: {{job.jobTitle}} </p>
    <p> Company Name: {{job.companyName}} </p>
    <p> Job Type: {{job.jobType}} </p>
    <p> Link to Posting: {{job.link}} </p>
    <p> Season: {{job.season}} </p>
    <p> Application Deadline: {{job.deadline}} </p>
    <ul>
      {% for location in locations %}
        <li> {{location.city}} </li>
      {% endfor %}
    </ul>
    <p> {{poster}} </p>
  </div>
  {% endif %}

<h3>Reviews</h3> 
   
  <div class = 'add_job_review'>
    <form method="POST" action="">
      <input type="submit" name="submit" value="Add Job Review">
    </form>
  </div>

  <div id = "reviews">
    {% if reviews %}
      {% for review in reviews %}
        <p>Name: {{review.reviewer}}</p>
        <p>Review: {{review.review}}</p>
      {% endfor %}
    {% endif %}
  </div>

  <div class = 'redirect_home'>
    <form method="POST" action="">
      <input type="submit" name="submit" value="Back to Home">
    </form>
  </div>

{% endblock %}

