{% extends "base.html" %}

{% block content %}

    <div id = "job_info">
      <p> {%companyName%} </p>
      <p> {%jobTitle%} </p>
      <p> {%jobType%} </p>
      <p> {%link%} </p>
      <p> {%season%} </p>
      <p> {%deadline%} </p>
      <ul>
        {% for location in locations %}
          <li> {%location.city%} </li>
      </ul>
      <p> {%poster%} </p>

    </div>

    <div id = "reviews">
      {% if reviews %}
        {% for review in reviews %}
          <p>Name: {{review.reviewer}}</p>
          <p> {{review.review}}</p>
    </div>

{% endblock %}
