<head>
    <meta charset="utf-8">
    <meta name=author content="Fistbump">
    <meta name=description content="">
    <meta name=keywords content="">
    <title>Fist-bump</title>
    <link rel="stylesheet" href="">
</head>
<body>

    <header> <h1> Fistbump </h1>
      {% if loggedin %}
      <div class = 'account_info'> <p> Logged in as {%uName%}</p>
        <form method=POST action="">
          <input type="submit" name="logout-btn" value="Log Out">
        </form>
      {% else %}
      <form method=POST action="">
        <input type="submit" name="register-btn" value="Register">
      </form>
      {% endif %}
      <form method=POST action="">
        <input name="search" value="">
        <input type="submit" name="search-btn" value="Search">
      </form>

    </header>

    <form method=POST action="{{url_for('addJob')}}">
      <table>
        <tr>
          <td><label for="positionName">Position Name</label>
            <input name='positionName' value={{positionName}}></td>
        </tr>

        <tr>
          <td>
            <label for="jobTitle">Job Title</label>
            <input type="radio" name="rating" value ="1"> Design
            <input type="radio" name="rating" value ="2"> Engineering
            <input type="radio" name="rating" value ="3"> PM
            <input type="radio" name="rating" value ="4"> Other
          </td>
        </tr>

        <tr>
          <td>
            <label for="jobType">Job Type</label>
            <input type="radio" name="rating" value ="1"> internship
            <input type="radio" name="rating" value ="2"> part-time
            <input type="radio" name="rating" value ="3"> full-time
          </td>
        </tr>

        <tr>
          <td>
            <label for="season">Season</label>
            <input type="radio" name="rating" value ="1"> fall
            <input type="radio" name="rating" value ="2"> spring
            <input type="radio" name="rating" value ="3"> summer
            <input type="radio" name="rating" value ="4"> winter
          </td>
        </tr>

        <tr>
          <td>
          <label for="deadline">Deadline</label>
          <input type="date" name="deadline" min="2018-05-01">
          </td>
        </tr>

        <tr>
          <td>
            <label for="companyName">Companies:</label>
            <select name="companyName">
              <option value="none">Choose One</option>
              {% for company in companies %}
                 <option value="{{companyName}}"> {{companyName}} </option> <!-- quotations ? -->
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label for="newCompany"> If you chose other,
              please provide the name of your company: </label>
              <input name="newCompany" value="{{companyName}}">

{{companyName}}
      </table>
      <input type="submit" name="submit" value="submit">
    </form>

    <footer>
    </footer>
</body>
</html>
