{% extends "base.html" %}

{% block content %}

<div id = 'job_height' class = 'middle'>

  <h1> Add a job listing </h1>

    <form class = 'job_form' name="addJob" method="POST" action="{{url_for('addNewJob')}}">
      <table>
        <tr>
          <td><label for="positionName"> <strong> Position Name </strong> </label>
            <input name="positionName" value="" required></td>
        </tr>

        <tr>
          <td>
            <label for="jobTitle"> <strong> Job Title </strong> </label>
            <input type="radio" name="jobTitle" value="1" required><label for="1">Engineering</label>
            <input type="radio" name="jobTitle" value="2"><label for="2">Design</label>
            <input type="radio" name="jobTitle" value="3"><label for="3">PM</label>
            <input type="radio" name="jobTitle" value="4"><label for="4">Other</label>
          </td>
        </tr>

        <tr>
          <td>
            <label for="jobType"> <strong> Job Type </strong> </label>
            <input type="radio" name="jobType" value="1" required><label for="1">Internship</label>
            <input type="radio" name="jobType" value="2"><label for="2">Part-time</label>
            <input type="radio" name="jobType" value="3"><label for="3">Full-time</label>
          </td>
        </tr>

        <tr>
          <td>
            <label for="season"> <strong> Season </strong> </label>
            <input type="radio" name="season" value="1" required><label for="1">Fall</label>
            <input type="radio" name="season" value="2"><label for="2">Spring</label>
            <input type="radio" name="season" value="3"><label for="3">Summer</label>
            <input type="radio" name="season" value="4"><label for="4">Winter</label>
            <input type="radio" name="season" value="5"><label for="5">Year-long</label>
          </td>
        </tr>

        <tr>
          <td>
            <label for="classPref"> <strong> Class Preference </strong> </label>
            <br>
            <input type="radio" name="classPref" value="1" required><label for="1">Freshman</label>
            <br>
            <input type="radio" name="classPref" value="2"><label for="2">Sophomore</label>
            <br>
            <input type="radio" name="classPref" value="3"><label for="3">Junior</label>
            <br>
            <input type="radio" name="classPref" value="4"><label for="4">Senior</label>
            <br>
            <input type="radio" name="classPref" value="5"><label for="5">Underclassmen</label>
            <br>
            <input type="radio" name="classPref" value="6"><label for="6">Upperclassmen</label>
            <br>
            <input type="radio" name="classPref" value="7"><label for="7">All</label>
            <br>
          </td>
        </tr>

        <tr>
          <td>
            <label for="deadline"> <strong> Deadline </strong> </label>
            <input type="date" name="deadline" required>
          </td>
        </tr>

        <tr>
          <td>
            <label for="companyName"> <strong> Companies: </strong> </label>
	    <select name="companyName" required>
              <option value="none">Choose One</option>
              {% for company in companies %}
              <option value="{{company.companyName}}"> {{company.companyName}} </option> <!-- quotations ? -->
              {% endfor %}
            </select>
          </td>
        </tr>

        <tr>
          <td>
            <label for="newCompany"> If your company name doesn't exist in the drop down,
              please provide it here: </label>
              <input name="newCompany" value="">
          </td>
        </tr>

        <tr>
          <td><label for="link"> <strong> Link to Job description </strong> </label>
            <p> Please put the entire URL like so: https://www.microsoft.com/en-us/</p>
            <input name='link' value="" required></td>
        </tr>

        <tr>
          <td><label for="location"><strong>Job Location </strong> </label>
            <input name='location' value="" required></td>
            <p> Note: You will have an opportunity to more companies on the next page </p>
        </tr>

      </table>
      <br>
      <input class = 'bluebtn' type="submit" name="submit" value="submit">
    </form>

  </div>

{% endblock %}
