{% extends "base.html" %}

{% block content %}


    <form method=POST action="{{url_for('addJobLocation',jobID = jobID, cities = cities)}}">
      <table>
        <label for="locations">Please select all the locations of your job posting:</label>
        <tr>
          {% for row in cities %}
          <td>
            <input type="checkbox" name="city" value="{{row.city}}">{{row.city}}<br>
          </td>
	  {% endfor %}
        </tr>
        <tr>
          <td>
            <label for="newLocation"> If you have a new location to add,
              please enter it here: </label>
              <input name="newLocation" value="">
          </td>
        </tr>

      </table>
      <input type="submit" name="submit" value="submit">
    </form>

{% endblock %}
