{% extends "base.html" %}

{% block content %}

<div class="middle">
  {% if picture_exists %}
    <div class="picture_container">
      <img class="picture" src="{{src}}">
    </div>
  {% else %}
    <div>
      <img class="prof_text" class="picture" src="{{url_for('static', filename='default.jpg')}}"  alt="default photo">
    </div>
  {% endif %}

<br>
<br>
    <form class="prof_text" method="POST" enctype=multipart/form-data action="">
        <input type="file" name="photo">
        <input class="bluebtn" type="submit" name="submit" value="Update Picture">
        {% if picture_exists %}
          <input class="bluebtn" type="submit" name="submit" value="Delete Picture">
        {% endif %}
    </form>
  <h1> Name </h1>
    <p class="prof_text"> {{user.firstname}} </p>
  <h1> Username </h1>

    <p class="prof_text"> {{user.username}} </p>
  <br>

  <h1> Saved Jobs</h1>
  {% if saved %}
  <div id="opportunities">
    {% for save in saved %}
      <p><a class = 'opp_listing'href="{{url_for('job',jobID=save.jobID)}}">
        ID:{{save.jobID}}//{{save.positionName}}//{{save.companyName}}</a></p>
    {% endfor %}
    {% else %}
      <p class = 'prof_text'> No favorites </p>
  {% endif %}
  </div>
{% endblock %}
