{% extends "base.html" %}

{% block content %}

<div class = 'middle'>
  <h1> Add a job review for {{jobName}}</h1>
    <form class ='rev_form' method="POST" action="">

      <p> <label for="jobYear">Job Year</label> </p>
      <p> <input name='jobYear' value="" required> </p>

      <p> <label for="review">Review</label> </p>
      <p> <input name='review' value="" style="width: 400px; height: 250px;" required> </p>

      <input class = 'bluebtn' type="submit" name="submit" value="Submit Review">
    </form>
  </div>

{% endblock %}
