{% extends "base.html" %}

{% block content %}

<div class = 'middle'>
    <h1> Update your job review for job ID #{{jobID}} </h1>
    <form class ='rev_form' method="POST" action="">

      <p> <label for="jobYear">Job Year</label> </p>
      <p> <input name='jobYear' value="{{jobYear}}" required> </p>

      <p> <label for="review">Review</label> </p>
      <p> <input name='review' value="{{review}}" style="width: 400px; height: 250px;" required> </p>

      <input class = 'bluebtn' type="submit" name="submit" value="Update Review">
    </form>
  </div>

{% endblock %}
